body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Londrina Outline', cursive;
    font-size: 5em;
}

div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

